@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.container {
  display: flex;
  font-family: "Funnel Sans", sans-serif;
  justify-content: center;
  width: 100%;
}

.loginForm,
.createUserForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.form button {
  margin: 10px;
  background-color: rgb(223, 228, 255);
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
}

.form input {
  margin: 10px;
  padding: 5px;
  border: 1px #cdcdcd solid;
  border-radius: 5px;
}

.form label {
  margin: 0 10px;
}

.profilePage {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.profilePage h2,
.profilePage p {
  margin: 5px;
}
