@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.headerWrapper {
  font-family: "Funnel Sans", sans-serif;
  border-bottom: solid rgb(44, 44, 112) 3px;
}

.headerWrapper nav {
  display: flex;
}

.headerWrapper nav h1 {
  font-size: 24px;
  margin-right: 1000px;
}

.headerWrapper nav ul {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  max-width: 1180px;
  margin: 20px auto;
}

.headerWrapper nav ul li {
  list-style-type: none;
}

.headerWrapper nav ul li a {
  color: black;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
}

.logout {
  cursor: pointer;
}
